body {
	background-color: rgb(75,75,75)
}

a {
	text-decoration: none;
	color: red;
}

h1 {
	color: white;
	text-shadow: 0px 0px 0px 7px black;
	font-family: "Pacifico";
	font-size: 50px;
	background-color: rgb(48,48,48);
	text-align: right;
	text-decoration: none;	
}

/* Lists */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	background-color: rgb(48,48,48);
}

/* Fonts */
@font-face {
	font-family: "Pacifico";
	src: url(../Fonts/Pacifico-Regular.ttf) format("truetype");
}
