body {
	background-color: rgb(40,40,40)
}

a {
	text-decoration: none;
	color: red;
	font-family: "Dosis";
}

h1 {
	color: white;
	text-shadow: 0px 0px 0px 7px black;
	font-family: "Pacifico";
	font-size: 50px;
	text-decoration: none;
	text-position: centered;
}

.title {
	width: 100%;
	text-align: center;
}

.signInSignUp {
	float: left;
}

.titleBar {
	display: block;
	height: 5em;
}

/* Lists */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: "Dosis";
}

li {
	display: inline;
}

/* Fonts */
@font-face {
	font-family: "Pacifico";
	src: url(../Fonts/Pacifico-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Dosis";
	src: url(../Fonts/Dosis-Regular.ttf) format("truetype");
}
