/* The style.css file contains the stylesheet for the whole website. */

/* General body */
body {
	background-color: rgb(75,75,75);
	width: 100%;
	margin-left: 0px;
}

/* Buttons */
.button {
	background-color: rgb(200,200,200);
	border: none;
	color: rgb(135, 2, 2);
	/*rgb(232, 62, 41); */
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

/* Links */
a {
	text-decoration: none;
	color: rgb(232, 62, 41);
	font-family: "Josefin";
	font-size: 1em;
}

a:hover {
    color: white;
}

/* Headings */
h1 {
	color: white;
	font-family: "Pacifico";
	font-size: 10em;
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
h2 {
	color: white;
	font-family: "Dosis";
	font-size: 7.5em;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

.titleMain {
	text-align: center;
	padding-top: 1em;
	margin-bottom: 0.5em;
}

.slogan {
	text-align:center; 
	padding-top: 0.2em; 
	margin-bottom:0.3em;
}

/* Navigation menu */
header {
	background-color: rgb(10,10,10);
	position: fixed;
   	top: 0;
    width: 100%;
	display: float;
}

/* Logo */
.title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 3em;
	float: left;
}

/* Navigation items */
.nav {
	float: right;
	padding-bottom: 1em;
	padding-top: 1em;
	font-size: 1.3em;
}

/* Content of the page */
.main {
	margin-top: 4.5em;
	color: white;
}

/* Button to sign up or login */
.loginSignUp {
	margin-bottom:2em;
	margin-right:1em;
	font-size: 2em;
	text-align:center;
	margin:auto;
}

/* Home page */
.home {
	padding-top: 0px;
	margin-top: -0.75em;
	height: 40em;
	background-image: url("../Images/background1.png");
}

/* Page anchors (used in order to display the anchor under the navigation bar) */
div.anchor {
    display: block;
    position: relative;
    top: -4.5em;
    visibility: hidden;
}


/* Lists */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: "Dosis";
}

li {
	display: inline;
	margin-right: 5em;
}

/* Fonts */
@font-face {
	font-family: "Pacifico";
	src: url(../Fonts/Pacifico-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Dosis";
	src: url(../Fonts/Dosis-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Oxygen";
	src: url(../Fonts/Oxygen-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Josefin";
	src: url(../Fonts/JosefinSans-Light.ttf) format("truetype");
}	
